<style>
    .btn {
    transition: all 0.3s ease-in-out;
    background-color: #1976d2;
    color: white;
    height: 40px;
    width: 150px;
  }
</style>


<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h1>Tareas</h1>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for=""> Nombre:</label>
                    <input type="text" class="form-control" [(ngModel)]="modelTarea.nombre" name="nombre" >
                </div>
                <div class="form-group">
                    <label for=""> Estado:</label>
                    <select [(ngModel)]="modelTarea.estado" name="estado" class="form-control">
                        <option [value]="0" [selected]="modelTarea.estado === 0">Incompleto</option>
                        <option [value]="1" [selected]="modelTarea.estado === 1">Finalizado</option>
                        <option [value]="2" [selected]="modelTarea.estado >= 2">Eliminada</option>
                    </select>
                </div>  
                <div style="margin-top: 30px;"></div>
                <button (click)="Actualizar(modelTarea)" class="btn">Actualizar</button>
                <button (click)="goBack()" class="btn" style="margin-left: 770px;">Atrás</button>
            </form>
        </div>
    </div>
</div>
